@use "sass:map";

@use "variables";

.board {
  display: flex;
  flex-direction: column;

  &__row {
    display: flex;
  }

  &__cell {
    border: 1px solid map.get(variables.$colors, "cell-border");
    width: 24px;
    height: 24px;
    background-color: map.get(variables.$colors, "cell");

    &--spawn-zone {
      border: 1px solid map.get(variables.$colors, "cell");
      background-color: map.get(variables.$colors, "cell-border");
    }
  }
}
