$colors: (
  // "I": cyan,
  // "J": navy,
  // "L": orange,
  // "O": yellow,
  // "S": green,
  // "T": purple,
  // "Z": red,
  "cell": white,
  "cell-border": lightgray,
  "board-red-line": red
);
