@use "sass:map";

@use "variables";

.board {
  display: flex;
  flex-direction: column;
  border-top: 1px solid map.get(variables.$colors, "cell");
  border-bottom: 1px solid map.get(variables.$colors, "cell-border");
  width: fit-content;

  &__row {
    display: flex;
    border-left: 1px solid map.get(variables.$colors, "cell-border");
    border-right: 1px solid map.get(variables.$colors, "cell-border");
    width: fit-content;
    background-color: map.get(variables.$colors, "cell");

    &--danger {
      border-left: 1px solid map.get(variables.$colors, "cell");
      border-right: 1px solid map.get(variables.$colors, "cell");
      background-color: map.get(variables.$colors, "cell-border");

      .board__cell {
        border: 1px solid map.get(variables.$colors, "cell");
      }
    }

    &:nth-last-child(1 of &--danger) {
      .board__cell {
        border-bottom-color: map.get(
          variables.$colors,
          "board-danger-zone-border"
        );
      }
    }

    &:nth-child(1 of :not(&--danger)) {
      .board__cell {
        border-top-color: map.get(
          variables.$colors,
          "board-danger-zone-border"
        );
      }
    }
  }

  &__cell {
    border: 1px solid map.get(variables.$colors, "cell-border");
    width: 24px;
    height: 24px;

    @each $tetrimino-id in [ghost I J L O S T Z] {
      &--#{$tetrimino-id} {
        background-color: map.get(variables.$colors, "#{$tetrimino-id}");
      }

      &--#{$tetrimino-id}:is(&--current) {
        border-color: map.get(variables.$colors, "#{$tetrimino-id}") !important;
      }

      &--#{$tetrimino-id}:is(&--ghost) {
        background-color: color-mix(
          in srgb,
          map.get(variables.$colors, "#{$tetrimino-id}") 25%,
          transparent
        );
      }
    }
  }
}
