$colors: (
  "ghost": silver,
  "I": cyan,
  "J": blue,
  "L": orange,
  "O": yellow,
  "S": green,
  "T": purple,
  "Z": red,

  "board-danger-zone-border": red,
  "cell-border": lightgray,
  "cell": white,
);
